* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

@media all and (max-width:575px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 400px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;

    }

    .img3 {
        display: none;
    }

    .img4 {
        display: none;
    }

    .pborders {
        width: 350px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        display: none;
    }

    .pborder4 {
        display: none;
    }

    .ultotal {
        width: 350px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;

    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition: all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }
    .ulfot3 {
        display: none;
    }

    .ulfot4 {
        display: none;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 600px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;


    }



    .img4 {
        display: none;
    }

    .pborders {
        width: 600px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder4 {
        display: none;
    }

    .ultotal {
        width: 550px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;


    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot3 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition: all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }

    .ulfot4 {
        display: none;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 600px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;


    }



    .img4 {
        display: none;
    }

    .pborders {
        width: 600px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder4 {
        display: none;
    }

    .ultotal {
        width: 550px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;


    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot3 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition: all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }

    .ulfot4 {
        display: none;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 800px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;



    }


    .pborders {
        width: 800px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder4 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .ultotal {
        width: 800px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;



    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot3 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot4 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition:all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }


}

@media all and (min-width:1200px) and (max-width:1399px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 800px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;



    }


    .pborders {
        width: 800px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder4 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .ultotal {
        width: 800px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;



    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot3 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot4 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition: all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }
}

@media all and (min-width:1400px) {
    .footer {
        width: 100%;
        height: 500px;
        background-color: #252525;
    }

    .imgs {
        display: flex;
        list-style-type: none;
        width: 1000px;
        margin: auto;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;



    }


    .pborders {
        width: 1000px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #f2f2f2;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;

    }

    .pborder {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder2 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder3 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .pborder4 {
        width: 170px;
        text-align: center;

        border-top: 1px solid #545555;
        border-bottom: 2px solid #545555;
    }

    .ultotal {
        width: 1000px;
        height: 200px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;



    }

    .ulfot {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;

    }

    .ulfot2 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot3 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    .ulfot4 {
        width: 150px;
        height: 180px;
        margin-top: 10px;
        text-align: center;

        list-style-type: none;
    }

    ol>li>a {
        text-decoration: none;
        color: #747577;
        font-family: sans-serif;
        line-height: 30px;
        transition: all 300ms ease 0s;
    }
    a:hover {
        color: white;
    }

}